<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/head") %>
    <title>Pinterest</title>
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <!-- FIXME: -->
                <!-- Error aqui abajo -->
                <% images.forEach(function(image) { %>
                    <div class="card">
                        <img src="<%= image.path %>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title%></h5>
                            <p class="card-text"><%= image.description%></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>